workDir = params.workdir

executor {
    name = "lsf"
    queueSize = 500
}

singularity { 
    enabled = true
    autoMounts = true
    cacheDir = "/hps/nobackup2/singularity/$USER"
}
process {
    clusterOptions = "-g /debug"
    memory = "1 GB"
    cpus = 1

    withLabel: metawrap_assemble {
        cpus = 8
        container = "shub://hexmek/container:metawrap"
    }
}
